@page {
  size: A4;

  margin-top: 25mm;
  margin-bottom: 15mm;
  margin-left: 23mm;
  margin-right: 13mm;

  @bottom-right {
    font-family: Arial;
    content: counter(page) "/" counter(pages);
  }
}

@page :first {
  margin-top: 2mm;
}

body {
  font-family: "Flanders Art Sans";
  font-size: 12pt;
  line-height: 1.8;
  font-variant-ligatures: none;
}

.logo-underline {
  width: 18em;
  height: 1px;
  background-color: black;
  border: none;
}

.logo {
  width: 4.5cm;
  height: 2.04cm;
}

p {
  margin: 0;
}

.signature {
  margin-top: 6rem;
  float: right;
}
