@page {
  size: A4;

  margin-top: 25mm;
  margin-bottom: 15mm;
  margin-left: 23mm;
  margin-right: 13mm;

  @bottom-right {
    font-family: Arial;
    content: counter(page) "/" counter(pages);
  }
}

@page :first {
  margin-top: 2mm;
}

body {
  font-family: "Flanders Art Sans";
  font-size: 11pt;
  line-height: 1.8;
  font-variant-ligatures: none;
}

.logo-underline {
  width: 18em;
  height: 1px;
  background-color: black;
  border: none;
}

.logo {
  width: 4.5cm;
  height: 2.04cm;
}

p {
  margin: 0;
}

table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 0.6rem;
}

.part-title {
  font-size: 12pt;
  font-weight: 500;
  text-decoration: underline;
}

.annotation {
  font-size: 10pt;
}

.confidential-statement {
  font-size: 11pt;
  text-align: center;
}

.signature {
  font-size: 12pt;
  margin-top: 6rem;
  margin-right: 6rem;
  float: right;
}


ol:not(.au-c-list-horizontal) {
  list-style: decimal;
  margin-left: 2.6rem;
  padding-left: 0;
}

ol:not(.au-c-list-horizontal)[data-list-style='decimal'] {
  list-style-type: decimal;
}

ol:not(.au-c-list-horizontal)[data-list-style='upper-roman'] {
  list-style-type: upper-roman;
}

ol:not(.au-c-list-horizontal)[data-list-style='lower-alpha'] {
  list-style-type: lower-alpha;
}

ol:not(.au-c-list-horizontal) > li > ol:not([data-list-style]) {
  list-style-type: inherit;
}

ol[data-list-style=decimal-extended] {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li:before {
  display: table-cell;
  min-width: 2.4rem;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  min-width: 2.4rem;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  min-width: 2.4rem;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  min-width: 2.4rem;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  display: table;
  list-style-type: none;
  margin: 0;
  counter-reset: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li {
  display: table-row;
  counter-increment: item;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li:before {
  display: table-cell;
  min-width: 2.4rem;
  padding-right: 0.5ch;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  content: counters(item, ".") ". ";
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) {
  list-style-type: decimal;
}
ol[data-list-style=decimal-extended] > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) > li > ol:not([data-list-style]) ol:not([data-list-style]) {
  list-style-type: inherit;
}